<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Continental Brand Portal</title>
  </head>

  <body
    style="
      margin: 0;
      padding: 0;
      background: #e6e6e6;
      font-family: Arial, Helvetica, sans-serif;
    "
  >
    <!-- OUTER WRAPPER -->
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#e6e6e6"
    >
      <tr>
        <td align="center" style="padding: 40px 0">
          <!-- CARD WRAPPER (white border card) -->
          <table
            width="600"
            cellpadding="0"
            cellspacing="0"
            border="0"
            bgcolor="#ffffff"
            style="border-collapse: collapse"
          >
            <tr>
              <td align="center" style="padding: 0">
                <!-- INNER LIGHT-GRAY CONTENT BOX -->
                <table
                  width="90%"
                  cellpadding="0"
                  cellspacing="0"
                  border="0"
                  bgcolor="#f0f0f0"
                  style="
                    margin-top: 25px;
                    margin-bottom: 25px;
                    border-collapse: collapse;
                  "
                >
                  <tr>
                    <td
                      style="
                        padding: 25px;
                        color: #000000;
                        font-size: 14px;
                        line-height: 20px;
                      "
                    >
                      <img
                        src="cid:continental_logo"
                        width="180"
                        style="
                          display: block;
                          background-color: #ffa500;
                          padding: 30px 20px;
                          margin-top: -50px;
                        "
                        alt="Continental"
                      />

                      {{contentHtml}}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <!-- FOOTER -->
          <table
            width="650"
            cellpadding="0"
            cellspacing="0"
            border="0"
            style="margin-top: 40px"
          >
            <tr>
              <td
                align="center"
                style="font-size: 12px; color: #737373; line-height: 18px"
              >
                <strong style="color: #555555"
                  >Continental Aktiengesellschaft</strong
                ><br />
                Continental-Plaza 1<br />
                D-30175 Hannover<br /><br />

                Handelsregister Amtsgericht Hannover, HR B 3527<br />
                USt-ID-Nr. DE115645799
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
